Source: ros-kinetic-libuvc-ros
Section: misc
Priority: extra
Maintainer: Ken Tossell <ken@tossell.net>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://ros.org/wiki/libuvc_ros
Standards-Version: 3.9.2

Package: ros-kinetic-libuvc-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-libuvc-camera
Description: libuvc_ros metapackage
